@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Jokes Machine</h1>
    <p>The application you use to create and find any joke on your local host.</p>
</div>
